<% form_for @upload, :html => { :multipart => true, :target => "hiddenframe", :name=>"uploadform" } do |f| %>
  <p id="upload_errors" style="display:none;"></p>
  <p id="upload_form_buttons">
    <%= f.file_field :attachment, :onchange => "$('upload_errors').hide();$('upload_form_buttons').hide();$('upload_loading').show();document.uploadform.submit();this.value='';" %>
  </p>
	<p id="upload_loading" style="display: none; color: #d70e3d;">Uploading...</p>
<% end %>
<iframe name="hiddenframe" id="hiddenframe" style="display:none"></iframe>  
