<div style="padding:20px; min-height:100px; border: 2px solid gray; overflow:auto;">
  <%= render :partial => 'form' %>
  <br/>
  <a href="#" class="lbAction button" rel="deactivate">Cancel</a>
</div>
